# Ignore .pyc files
__pycache__/
sql/__pycache__/
protocol/__pycache__/
nms_agent/__pycache__/
nms_server/__pycache__/

# Ignore latex output files
report/output/*.log
report/output/*.aux
report/output/*.lof
report/output/*.lot
report/output/*.lol
report/output/*.toc
report/output/*.out
report/output/*.ilg
report/output/*.nls
report/output/*.nlo
report/output/*.fdb_latexmk
report/output/*.fls
